[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.2.2"
prefect = "==2.0b6"
mlflow = "*"
pandas = "*"
boto3 = "*"
pyarrow = "*"
s3fs = "*"
click = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
